.maindiv {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
    padding-top: 20px;
}
.threemaincolumns2 {
    background-color:aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
    
.sendmessagetextbox {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    outline: none;
}

.sendmessagediv {
    background-color: yellow;
    position: fixed;
    bottom: 0;
    width: 1fr;
}

.sendchatinputbox {
    align-items: center;
}